<div class="modal"
     [class.modal-opened]="isOpen"
     [class.modal-closed]="!isOpen">
  <form class="add-password-modal modal-content"
        [formGroup]="addPasswordForm"
        (ngSubmit)="onSubmit()">
    <p><b>Добавить пароль</b></p>
    <label for="email-password"><p>Тип пароля:</p></label>
    <input type="radio" name="password-type" id="email-password" checked="checked" (change)="isEmail=true">
    <label for="email-password">Пароль от почты</label><br>
    <input type="radio" name="password-type" id="website-password" (change)="isEmail=false">
    <label for="email-password">Пароль от сайта</label>

    @if(isEmail)
    {
    <label for="email"><p>Почта</p></label>
    <input type="email" name="email" id="email" formControlName="email">
    } @else {
    <label for="website"><p>Сайт</p></label>
    <input type="text" name="website" id="website" formControlName="website">
    }

    <label for="password"><p>Пароль</p></label>
    <input type="text" name="password" id="password" formControlName="password">
    <input type="button" value="Закрыть" class="modal-button" (click)="isOpen=false" />
    <input type="submit" value="Добавить" class="modal-button" />
  </form>
</div>

