.password-list table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.password-list td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.password-list tr:nth-child(even) {
  background-color: #dddddd;
}
