<div class="password-list">
  <h3>Ваши пароли:</h3>
  <table>
    <tr>
      <th>№</th>
      <th>Почта/Сайт</th>
      <th>Пароль</th>
      <th>Дата создания</th>
    </tr>
    @for(password of passwords; track password.id)
    {
<!--      <password-list-item [id]="password.id" [emailOrWebsite]="password.emailOrWebsite" [password]="password.password" [createdAt]="password.createdAt" />-->
      <tr class="password-list-item list-row">
        <td>{{password.id}}</td>
        <td>{{password.emailOrWebsite}}</td>
        <td>{{password.password}}</td>
        <td>{{password.createdAt.toLocaleString()}}</td>
      </tr>
    }
  </table>
</div>
